{% extends 'base.html.twig' %}

{% block title %}NbaTeam index{% endblock %}

{% block body %}
    <h1>NbaTeam index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Trener</th>
                <th>Divizija</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nba_team in nba_teams %}
            <tr>
                <td>{{ nba_team.id }}</td>
                <td>{{ nba_team.trener }}</td>
                <td>{{ nba_team.divizija }}</td>
                <td>
                    <a href="{{ path('app_nba_team_show', {'id': nba_team.id}) }}">show</a>
                    <a href="{{ path('app_nba_team_edit', {'id': nba_team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nba_team_new') }}">Create new</a>
{% endblock %}
